# IGDB API
IGDB_CLIENT_ID = "[CLIENT_ID]"
IGDB_CLIENT_SECRET = "[CLIENT_SECRET]"

# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
